/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-beige: #f7f3ec;
  --basic-cream: #f9f5f0;

  --basic-cloudy: #f1f5f7;
  --basic-border: #e5e5e5;
  --basic-checked: #b5b5b5;
  --basic-greylight: #c5c5c5;
  --basic-grey: #a9a9a9;
  --basic-dark-grey: #3d546f;

  --basic-yellow: #ffbf47;
  --basic-dark-yellow: #ffd180;
  --basic-red: #ee3643;
  --basic-dark-red: #ca2c37;
  --basic-darken-red: #ba2732;
  --basic-lilac: #dc91d8;

  --basic-black: #000000;
  --basic-line: #405069;

  --basic-sky-blue: #3bbce3;
  --basic-blue: #32425c;
  --basic-dark-blue: #293449;
  --basic-darken-blue: #212a3a;

  --basic-mint: #8ed78f;
  --basic-light-green: #5fbb2d;
  --basic-green: #63a63e;
  --basic-dark-green: #518534;
  --basic-shadow-green: #367315;

  --basic-shadow: rgba(0, 0, 0, 0.15);
  --basic-bottom-line: rgba(0, 0, 0, 0.24);
  --basic-transparent-white-text: rgba(255, 255, 255, 0.5);
  --basic-transparent-black-text: rgba(0, 0, 0, 0.3);
  --basic-transparent-cloudy-text: rgba(241, 245, 247, 0.5);
  --basic-transparent-yellow-text: rgba(255, 209, 128, 0.5);
  --basic-transparent-button: rgba(255, 255, 255, 0.3);
  --basic-transparent-button-hover: rgba(197, 197, 197, 0.3);
  --basic-transparent-button-active: rgba(169, 169, 169, 0.3);
}

/* Global */

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

/* HEADER */

.main-header {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin-bottom: 58px;
  background-color: var(--basic-cloudy);
}

/* header first line */

.first-line-wrapper {
  width: 100%;
  margin-bottom: 47px;
  background-color: var(--basic-dark-blue);
}

.header-first-line {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 940px;
  min-height: 42px;
  padding-left: 220px;
  margin: 0 auto;
  font-size: 18px;
  color: var(--basic-white);
}

.header-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 47px;
  text-align: center;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-bottom-line);
}

.header-logo-img {
  margin-top: 12px;
}

.header-logo:active {
  background-color: var(--basic-darken-red);
}

.search {
  position: relative;
  width: 270px;
  height: 42px;
  display: flex;
}

.search-input {
  width: 100%;
  padding-left: 42px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}

/* .search-input:invalid {
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
} */

.search-input::placeholder {
  color: var(--basic-white);
}

.search-input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search-input:valid {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.loupe {
  position: absolute;
  top: 12px;
  left: 17px;
  opacity: 0.3;
}

.search-input:focus + .loupe {
  fill: var(--basic-red);
  opacity: 1;
}

.search-input:valid + .loupe {
  fill: var(--basic-red);
  opacity: 1;
}

.buyer-assistance-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.buyer-assistance-link {
  position: relative;
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  color: var(--basic-white);
  box-sizing: border-box;
}

.buyer-assistance-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-darken-blue);
}

.bookmarks {
  width: 150px;
  padding: 9px 22px 9px 30px;
}

.bookmarks::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 6px;
  width: 14px;
  height: 16px;
  background-image: url("../img/pennant.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:active::before {
  opacity: 0.3;
}

.cart {
  width: 136px;
  padding: 9px 21px 9px 35px;
}

.filled-cart {
  background-color: var(--basic-red);
}

.cart::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart:hover::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.3;
}

.place-order {
  width: 150px;
  padding: 9px 16px 9px 19px;
  background-color: var(--basic-green);
}

.place-order:hover {
  background-color: var(--basic-light-green);
}

.place-order:active {
  color: var(--basic-transparent-white-text);
  background-color: var(--basic-green);
}

.header-middle-line {
  display: grid;
  grid-template-columns: 320px 270px 1fr;
  width: 940px;
  margin: 0 auto 37px;
}

.middle-line-text {
  width: 197px;
  margin: -4px 0 0 30px;
  font-family: Cuprum, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-red);
}

.header-address-block {
  position: relative;
}

.header-phone {
  display: block;
  width: 270px;
  box-sizing: border-box;
  margin-bottom: 3px;
  padding: 4px 42px 6px 71px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.header-phone::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 40px;
  width: 19px;
  height: 19px;
  background-image: url("../img/handset.svg");
  background-repeat: no-repeat;
  fill: #b7bfc8;
}

.header-address {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  color: var(--basic-blue);
}

.user-block {
  position: relative;
  justify-self: end;
  display: flex;
  align-items: flex-start;
}

.login-link {
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 45px;
  margin-right: 10px;
}

.icon-login {
  position: absolute;
  top: 14px;
  left: 19px;
}

.login-link:hover + .icon-login path {
  fill: var(--basic-dark-grey);
}

.login-link:active + .icon-login path {
  fill: var(--basic-greylight);
}

.registration-link {
  padding: 12px 24px;
}

.login-link,
.registration-link {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.login-link:hover,
.registration-link:hover {
  color: var(--basic-red);
}

.login-link:active,
.registration-link:active {
  color: var(--basic-greylight);
}

/* main nav */

.main-nav {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 18px;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0;
  padding: 0;
  padding-left: 26px;
  box-sizing: border-box;
  padding-left: 26px;

  list-style: none;
  background-color: var(--basic-blue);
  box-shadow: inset 0px -5px 0px var(--basic-dark-blue);
}

.site-nav-item {
  margin-left: 8px;
}

.site-nav-link {
  display: block;
  font-size: 18px;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 27px;
  padding-right: 24px;
  text-align: center;
  color: var(--basic-white);
}

.site-nav-link:hover {
  background-color: var(--basic-dark-blue);
}

.site-nav-link:active {
  color: var(--basic-transparent-white-text);
}

/* MAIN  */

.container {
  width: 940px;
  margin: 0 auto;
}

/* offers */

.offers {
  margin-bottom: 59px;
}

.offers-list {
  display: grid;
  grid-template-rows: repeat(3, 123px);
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers-slider {
  grid-row: 2 / -1;
  grid-column: 1 / 3;
}

.offers-item {
  position: relative;
}

.offers-item::after {
  content: "";
  position: absolute;
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.offers-item-materials {
  background-color: var(--basic-yellow);
  overflow: hidden;
}

.offers-item-materials::before {
  position: absolute;
  content: "new";
  top: 8px;
  right: -37px;
  width: 121px;
  transform: rotate(45deg);
  background-color: var(--basic-red);
  color: var(--basic-white);
  padding-top: 8px;
  padding-bottom: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.offers-item-materials::after {
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/bucket.svg");
}

.offers-item-tools {
  background-color: var(--basic-sky-blue);
}

.offers-item-tools::after {
  top: 32px;
  right: 28px;
  width: 78px;
  height: 61px;
  background-image: url("../img/drill.svg");
}

.offers-item-mashinery {
  background-color: var(--basic-lilac);
}

.offers-item-mashinery::after {
  top: 29px;
  right: 32px;
  width: 78px;
  height: 62px;
  background-image: url("../img/tractor.svg.");
}

.offers-item-discounts {
  background-color: var(--basic-mint);
}

.offers-item-discounts::after {
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url("../img/big-shoping-cart.svg");
}

.offers-item-delivery {
  background-color: var(--basic-yellow);
}

.offers-item-delivery::after {
  top: 31px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/car.svg");
}

.offers-item-title {
  position: relative;
  margin: 0;
  margin-top: 20px;
  margin-left: 22px;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.offers-link {
  display: block;
  width: 135px;
  margin-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-transparent-button);
  text-transform: uppercase;
}

.offers-link:hover {
  background-color: var(--basic-transparent-button-hover);
}

.offers-link:active {
  background-color: var(--basic-transparent-button-active);
}

.slider-container {
  position: relative;
  min-height: 266px;
}

.slider {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
.slider-item {
  position: relative;
  display: none;
  box-sizing: border-box;
  min-height: 100%;
  padding: 23px 24px 67px;
}

.slider-item--active {
  display: block;
}

.slider-item--first {
  background: var(--basic-blue) url("../img/drill.jpg") no-repeat top left;
  background-size: cover;
}

.slider-item--second {
  background: var(--basic-blue) url("../img/perforator.jpg") no-repeat top left;
  background-size: cover;
}

.slider-title {
  width: 70%;
  padding: 0;
  margin: 0 0 4px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider-text {
  min-height: 136px;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 11px 24px 9px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  box-sizing: border-box;
}

.button:hover {
  background-color: var(--basic-dark-red);
}

.button:active {
  background-color: var(--basic-darken-red);
}

.slider-link {
  position: absolute;
  min-width: 143px;
  bottom: 28px;
  left: 25px;
  padding: 11px 46px 9px;
}

a {
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-26%);
  width: 22px;
  height: 40px;
  background: url("../img/icon-left.svg") no-repeat top left;
}

.slider-arrow--left {
  left: 25px;
}

.slider-arrow--right {
  right: 20px;
  transform: rotate(180deg) translateY(26%);
}

.slider-pager {
  position: absolute;
  left: 50%;
  transform: translateX(-33%);
  bottom: 35px;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: -12px;
}

.slider-pager-item {
  margin-left: 11px;
}

.slider-pager-link {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
}

.slider-pager-link--active {
  background-color: red;
}

/* popular products */

.popular-products {
  margin-bottom: 72px;
}

.section-title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 14px 24px 27px;
  margin-bottom: 21px;
  background-color: var(--basic-cream);
}

.section-title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.section-block-link {
  width: 192px;
  padding: 11px 5px 10px;
}

.popular-products-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  column-gap: 20px;
  margin: 0;
  margin-left: -20px;
  padding: 0;
  list-style: none;
}

.popular-products-item {
  margin-left: 20px;
}

.card {
  position: relative;
  overflow: hidden;
  width: 220px;
  padding-top: 179px;
  padding-bottom: 90px;
  min-height: 318px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0px 4px 20px var(--basic-shadow);
}

.card:focus-within {
  box-shadow: 0px 4px 20px var(--basic-shadow);
}

.card:hover .card-img-container {
  opacity: 0;
}

.card:hover .card-link-block {
  opacity: 1;
}

.card:focus-within .card-img-container {
  opacity: 0;
}

.card:focus-within .card-link-block {
  opacity: 1;
}

.card-img-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 166px;
  padding-right: 10px;
  box-sizing: border-box;
}

.img-opacity {
  opacity: 0;
}

.card-img {
  max-width: 95%;
}

.card-link-block {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 135px;
  margin: 0 auto;
  text-transform: uppercase;
  opacity: 0;
}

.link-block-opacity {
  opacity: 1;
}

.card-link-buy {
  position: relative;
  width: 135px;
  margin: 38px 0 10px;
  padding: 9px 10px 10px 20px;
  text-align: center;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--basic-green);
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--basic-shadow-green);
  box-sizing: border-box;
}

.card-link-buy:hover {
  background-color: var(--basic-light-green);
}

.card-link-buy:active {
  background-color: var(--basic-dark-green);
}

.card-link-buy::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 28px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.card-link-bookmarks {
  width: 135px;
  padding: 8px 18px 6px 14px;
  text-align: center;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  box-sizing: border-box;
}

.card-link-bookmarks:hover {
  border-color: var(--basic-blue);
}

.card-link-bookmarks:active {
  opacity: 0.5;
}

.product-new::after {
  content: "new";
  position: absolute;
  top: 9px;
  right: -48px;
  transform: rotate(45deg);
  width: 100px;
  padding: 8px 23px 4px 19px;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.card-name {
  width: 156px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.card-price-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  text-align: center;
}

.card-old-price {
  margin: 0 auto;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-grey);
}

.card-new-price {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-53%);
  min-width: 100px;
  padding: 9px 7px 11px 16px;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.card-new-price::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 27px;
  top: 5px;
  right: -14px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

/* manufacturers */

.manufacturers {
  margin-bottom: 71px;
}

.manufacturers-link {
  margin-right: 5px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: repeat(2, 145px);
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturers-item {
  display: flex;
  min-height: 143px;
  border: 1px solid #eaeaea;
}

.manufacturers-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.manufacturers-item:active {
  opacity: 0.5;
}

.manufacturers-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* serveces */

.services {
  margin-bottom: 70px;
  background-color: var(--basic-cloudy);
}

.services-title {
  padding-top: 63px;
  margin-bottom: 25px;
}

.paragraph-text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans";
}

.services-lead {
  width: 400px;
  margin-bottom: 26px;
}

.services-slider {
  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 80px;
}

.services-slider-list {
  position: relative;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  padding-top: 47px;
  padding-bottom: 45px;
  list-style: none;
}

.services-slider-list::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0px;
  display: block;
  width: 10px;
  height: 279px;
  background-image: url("../img/service-shadow.png");
}

.services-slider-item--active {
  display: block;
}

.services-slider-link {
  display: block;
  padding-top: 14px;
  padding-left: 22px;
  padding-bottom: 18px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  box-shadow: 0px 1px 0px var(--basic-dark-blue),
    inset 0px 1px 0px var(--basic-line);
}

.services-slider-link:hover {
  background-color: var(--basic-dark-blue);
}

.services-slider-link--selected,
.services-slider-link--selected:hover {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

.slider-element-list {
  margin: 0;
  padding: 0;
  padding-top: 45px;
  list-style: none;
}

.slider-element-item {
  position: relative;
  display: none;
}

.slider-element-item::after {
  position: absolute;
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-element-item--active {
  display: block;
}

.slider-element-item--first::after {
  top: 20px;
  right: -16px;
  width: 486px;
  height: 261px;
  background-image: url("../img/delivery-car.png");
}

.slider-element-item--second::after {
  top: 0;
  right: -18px;
  width: 389px;
  height: 283px;
  background-image: url("../img/guarantee.png");
}

.slider-element-item--third::after {
  top: 20px;
  right: -16px;
  width: 465px;
  height: 285px;
  background-image: url("../img/credit.png");
}

.slider-element-title {
  padding: 0;
  margin-bottom: 28px;
}

.slider-element-text {
  width: 280px;
}

.credit-request {
  margin-top: 25px;
  border-radius: 3px;
}

/* index columns */

.index-columns {
  display: grid;
  grid-template-columns: 460px 300px;
  column-gap: 180px;
  margin-bottom: 70px;
}

/* about company */
.adout-company-title,
.contacts-title {
  margin-bottom: 23px;
}

.about-company-lead {
  margin-bottom: 27px;
}

.list-text {
  width: 385px;
  margin-bottom: 1px;
}

.about-company-list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.about-company-item {
  position: relative;
  margin-bottom: 12px;
  padding-left: 37px;
  font-size: 18px;
  line-height: 24px;
}

.about-company-item::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about-company-link {
  width: 220px;
  padding: 11px 40px 9px;
}

/* contacts */

.contacts .paragraph-text {
  width: 180px;
  margin-bottom: 32px;
}

.contacts-link-map {
  display: block;
  margin-bottom: 18px;
}

.contacts-map {
  width: 300px;
  height: 158px;
}

.contacts-link {
  display: block;
  padding-top: 11px;
  padding-bottom: 9px;
}

/* FOOTER */

.footer-nav-wrapper {
  display: grid;
  grid-template-columns: 220px 160px 560px;
  padding-bottom: 54px;
}

.footer-nav {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-cloudy);
  background-color: var(--basic-blue);
}

.footer-logo {
  grid-column: 1 / 2;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 68px;
  margin-bottom: 23px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--basic-bottom-line);
}

.footer-logo-img {
  margin-top: 21px;
}

.footer-logo:active {
  background-color: var(--basic-darken-red);
}

.footer-nav-list {
  grid-column: 3 / -1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 37px 0 0 12px;
  padding: 0;
  list-style: none;
}

.footer-nav-link {
  color: var(--basic-cloudy);
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-nav-link:active {
  color: var(--basic-transparent-cloudy-text);
  text-decoration: none;
}

.footer-address-block {
  grid-column: 1 / 3;
}

.footer-address {
  font-style: normal;
}

.footer-phone {
  color: var(--basic-cloudy);
}

.footer-offers-list {
  grid-column: 3 / -1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px 0 0 34px;
  padding: 0;
  list-style: none;
}

.footer-offers-link {
  color: var(--basic-dark-yellow);
}

.footer-offers-link:hover {
  text-decoration: underline;
}

.footer-offers-link:active {
  color: var(--basic-transparent-yellow-text);
  text-decoration: none;
}

.footer-social {
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
}

.footer-social-wrapper {
  display: grid;
  grid-template-columns: 390px 250px 140px 160px;
}

.footer-social-copyright {
  grid-column: 1 / 2;
  width: 227px;
  margin: 2px 0 0 2px;
}

.footer-social-list {
  grid-column: 2 / 3;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-item {
  margin: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--basic-white);
  background-color: var(--basic-darken-blue);
}

.social-button:hover {
  background-color: var(--basic-red);
}

.footer-feedback {
  grid-column: 3 / 4;
  width: 140px;
  margin: 0;
}

.footer-developer {
  grid-column: 4 / 5;
  justify-self: end;
  width: 98px;
  margin: 0;
  margin-right: 13px;
}

.footer-feedback-link,
.footer-developer-link {
  color: var(--basic-dark-yellow);
}

.footer-feedback-link:hover,
.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:active,
.footer-developer-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* modal feedback */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--basic-white);

  font-size: 18px;
  line-height: 24px;
  box-shadow: 0px 4px 20px var(--basic-shadow);
}

.modal-positioning {
  position: relative;
  padding-top: 45px;
  box-shadow: inset 0 7px 0 var(--basic-red);
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-feedback {
  width: 620px;
  height: 430px;
  background-color: var(--basic-white);
}

.feedback-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  width: 460px;
  margin: 0 auto;
}

.mail-form-input,
.mail-form-textarea {
  width: 100%;
  padding: 3px 5px 6px 10px;
  box-sizing: border-box;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  color: var(--basic-grey);
}

.mail-form-textarea {
  height: 114px;
}

.modal-form-name {
  grid-column: 1 / 2;
  margin: 0;
  margin-bottom: 13px;
}

.modal-form-mail {
  grid-column: 2 / -1;
  margin: 0;
  margin-bottom: 13px;
}

.modal-form-text {
  grid-column: 1 /-1;
  margin: 0;
  margin-bottom: 30px;
}

.modal-label {
  display: block;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 12px;
}

.modal-button-block {
  padding: 37px 0;
  text-align: center;
  background-color: #f4f4f4;
}

.button-send {
  padding: 11px 199px 9px;
  border: none;
}

.modal-map {
  width: 940px;
  height: 449px;
  background-image: url("../img/big-map.png");
  background-repeat: no-repeat;
  background-position: top;
}

.inframi-map {
  width: 100%;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* CATALOG */

/* HEADER CATALOG */

.catalog-header {
  margin-bottom: 21px;
}

.personal-account {
  position: relative;
  justify-self: end;
}

.personal-accaunt-link {
  display: inline-block;
  width: 300px;
  margin-bottom: 5px;
  padding: 11px 56px 13px;
  font-size: 21px;
  line-height: 21px;
  border: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-sizing: border-box;
}

.personal-accaunt-link:hover {
  color: var(--basic-red);
}

.personal-accaunt-link:active {
  color: var(--basic-greylight);
}

.man-shadow {
  position: absolute;
  top: 13px;
  left: 15px;
}

.personal-accaunt-link:hover .man-shadow {
  fill: var(--basic-dark-grey);
}

.personal-accaunt-link:active .man-shadow {
  fill: var(--basic-greylight);
}

.login-out-button {
  position: absolute;
  top: 12px;
  right: 24px;
  width: 20px;
  height: 17px;
  background-color: transparent;
  border: none;
}

.login-out-button:hover .login-out-icon {
  fill: var(--basic-dark-grey);
}

.login-out-button:active .login-out-icon {
  fill: var(--basic-greylight);
}

.my-orders-block {
  color: var(--basic-blue);
}

/* .my-orders-link::after {  Не работает буллит
  content: "";
  top: 10px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--basic-blue);
} */

.my-orders-block:hover {
  color: var(--basic-red);
}

.my-orders-link,
.personal-link {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.personal-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -18px;
  display: block;
  width: 4px;
  height: 4px;
  background-color: var(--basic-blue);
  border-radius: 50%;
}

.my-orders-link {
  margin-left: 44px;
  margin-right: 30px;
}

.my-orders-link:hover,
.personal-link:hover {
  color: var(--basic-red);
}

.my-orders-link:hover + .personal-link::before {
  background-color: var(--basic-red);
}

.personal-link:hover:before {
  background-color: var(--basic-red);
}

.my-orders-link:active,
.personal-link:active {
  color: var(--basic-greylight);
}

/* MAIN CATALOG */

.bread-crumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 18px;
  text-transform: uppercase;
}

.bread-crumbs-item {
  position: relative;
  padding-right: 24px;
  margin-bottom: 10px;
  margin-right: 18px;
}

.bread-crumbs-item--home {
  padding-right: 20px;
  margin-right: 20px;
}

.bread-crumbs-link {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.bread-crumbs-item::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 7px;
  height: 7px;
  border-top: 1px solid #c1c6ce;
  border-right: 1px solid #c1c6ce;
  transform: rotate(45deg);
}

.bread-crumbs-item:last-child::after {
  display: none;
}

.bread-crumbs-main {
  display: inline-block;
  width: 14px;
  height: 18px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: left center;
  color: transparent;
}

.perforator {
  margin-bottom: 20px;
  padding: 30px 30px 30px 29px;
  background-color: #f2f6f8;
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-column-gap: 20px;
  align-content: start;
  margin-bottom: 59px;
}

/* filters */

.filters {
  grid-column: 1 / 2;
  font-family: "PT Sans", Arial, sans-serif;
}

.filters-title {
  margin: 0;
  margin-bottom: 14px;
  padding: 8px 10px 11px 18px;
  background-color: var(--basic-beige);
}

.filter-fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Filter price */

.filter-price {
  margin-bottom: 16px;
}

.filter-legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-filter {
  width: 220px;
  margin-top: 11px;
  margin-bottom: 25px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 9px;
  background-color: var(--basic-beige);
  border-radius: 3px;
}

.scale {
  height: 2px;
  background-color: #d7dcde;
}

.bar {
  width: 152px;
  height: 2px;
  background-color: var(--basic-light-green);
}

.toggle {
  position: absolute;
  top: 30px;
  left: 2px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls-input {
  width: 53px;
  padding: 10px 21px;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-beige);
  border: none;
  border-radius: 3px;
}

.price-controls-input::placeholder {
  color: var(--basic-black);
}

/* filter-manufacturers */

.filter-manufacturers {
  margin-bottom: 18px;
  padding-bottom: 11px;
}

.filter-manufacturers-list {
  margin: 0;
  margin-top: 17px;
  padding: 0;
  list-style: none;
}

.filter-checkbox {
  position: relative;
}

.label-option {
  display: inline-block;
  margin-bottom: 18px;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.check {
  padding-left: 35px;
}

.check-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  border-radius: 3px;
}

.check-square {
  fill: var(--basic-greylight);
}

.check-mark {
  fill: none;
}

.check-input:checked ~ * .check-square {
  fill: none;
}

.check-input:checked ~ * .check-mark {
  fill: var(--basic-greylight);
}

.check-input:focus ~ .check-box {
  box-shadow: 0 0 0 3px var(--basic-light-green);
}

.check-input:disabled ~ * .check-square {
  fill: var(--basic-checked);
  opacity: 0.4;
}

.check-input:disabled ~ * .check-mark {
  fill: none;
}

.check-input:checked:disabled ~ * .check-square {
  fill: none;
}

.check-input:checked:disabled ~ * .check-mark {
  fill: var(--basic-checked);
  opacity: 0.4;
}

.check-input:disabled + .check {
  color: rgba(0, 0, 0, 0.4);
}

.check:hover + * .check-square {
  fill: var(--basic-checked);
}

.check-input:checked + .check:hover ~ * .check-mark {
  fill: var(--basic-checked);
}

.check-input:checked + .check:hover ~ * .check-square {
  fill: none;
}

/* Filter power */

.filter-power {
  margin-bottom: 22px;
  border: none;
}

.filter-power-list {
  margin: 0;
  margin-top: 22px;
  padding: 0;
  list-style: none;
}

.filter-power-item {
  position: relative;
}

.radio-label {
  padding-top: 2px;
  padding-left: 35px;
}

.radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 26px;
}

.radio-circle {
  fill: var(--basic-greylight);
}

.radio-mark {
  fill: none;
}

.radio-input:checked ~ * .radio-mark {
  fill: var(--basic-greylight);
}

.radio-label:hover + * .radio-circle {
  fill: #b5b5b5;
}

.radio-input:checked + .radio-label:hover ~ * .radio-mark {
  fill: #b5b5b5;
}

.radio-input:focus ~ .radio {
  box-shadow: 0 0 0 5px var(--basic-light-green);
  border-radius: 50%;
}

.button-show {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.gallery-wrapper {
  grid-column: 2 / -1;
}

/* Sort */

.sort {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 29px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: var(--basic-beige);
}

.catalog-section-title {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-title {
  margin: 0;
  margin-right: 140px;
  padding: 9px 0px 10px 21px;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 46px;
  padding: 0;
  padding-top: 9px;
  width: 354px;
  justify-content: space-between;
  list-style: none;
}

.sort-list-item {
  margin-bottom: 10px;
}

.sort-link {
  color: var(--basic-transparent-black-text);
  border-bottom: 1px dotted var(--basic-red);
}

.sort-link:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sort-link:active,
.sort-selected {
  color: var(--basic-red);
  border-bottom: none;
}

.sort-button {
  position: relative;
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-top: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sort-button::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
}

.sort-button-up {
  margin-right: 21px;
}

.sort-button-up::after {
  bottom: 0;
  border-bottom: 10px solid var(--basic-greylight);
}

.sort-button-up:hover::after {
  border-bottom: 10px solid var(--basic-black);
}

.sort-button-up:active::after {
  border-bottom: 10px solid var(--basic-red);
}

.sort-button-down::after {
  bottom: -5px;
  border-top: 10px solid var(--basic-greylight);
}

.sort-button-down:hover::after {
  border-top: 10px solid var(--basic-black);
}

.sort-button-down:active::after {
  border-top: 10px solid var(--basic-red);
}

.sort-button--active.sort-button-down::after {
  border-top-color: var(--basic-red);
}

.sort-button--active.sort-button-up::after {
  border-bottom-color: var(--basic-red);
}

/* Catalog */

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 29px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  margin-left: 20px;
  margin-bottom: 18px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-link {
  display: inline-block;
  padding: 9px 15px 9px;
  color: var(--basic-black);
  border: 1px solid var(--basic-border);
  border-radius: 2px;
}

.pagination-link-current {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
}

.pagination-link-next {
  padding: 9px 30px;
}

.pagination-link:hover {
  border: 1px solid var(--basic-greylight);
}

.pagination-link:active {
  border: 1px solid var(--basic-red);
}

/* Catalog article */

.catalog-article {
  padding-top: 64px;
  padding-bottom: 71px;
  background-color: var(--basic-cloudy);
}

.catalog-article-title {
  margin-bottom: 24px;
}

/* cart-notice */

.cart-notice {
  width: 620px;
  height: 282px;
  font-family: Cuprum, Arial, sans-serif;
}

.cart-notice-positioning {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: inset 0 7px 0 var(--basic-red);
}

.cart-notice-title {
  position: relative;
  align-self: flex-start;
  margin: 0;
  padding: 73px 5px 67px 178px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.cart-notice-title::before {
  position: absolute;
  content: "";
  top: 55px;
  left: 82px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark-green.svg");
}

.cart-notice-button-block {
  background-color: #f1f1f1;
  padding: 37px 0;
  padding-left: 5px;
}

.arrange {
  width: 192px;
  padding: 11px 46px 9px 47px;
  margin-right: 10px;
}

.continue-shopping {
  width: 192px;
  padding: 11px 25px 9px 20px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.continue-shopping:hover {
  color: var(--basic-white);
}

.modal-close {
  position: absolute;
  top: 19px;
  right: 10px;
  width: 21px;
  height: 21px;
  border: none;
  color: transparent;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.modal-close:hover {
  cursor: pointer;
}
